#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: var(--color-primary-6);
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }
} 






/* Estilizando a navbar não fixa */
.navbar {
    width: 100%;
    background-color: #333;
    color: rgb(25, 25, 25);
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;

}

/* Container dos cards de modalidades */
.modalidades-container {
    display: flex;
    gap: 40px; /* Espaçamento entre os cards */
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Estilizando cada card de modalidade */
.modalidade-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

/* Estilizando a imagem do card de modalidade */
.modalidade-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Estilizando o tí tulo do card de modalidade */
.modalidade-card h2 {
    font-size: 2.5em;
}

h2 span {
    font-size: 1.2em;
    color: #ffbe00;

}



/* Estilizando a descrição do card de modalidade */
.modalidade-card p {
    font-size: 1em;
    color: #ffffff;
    margin: 10px 0;
}

/* Estilizando a seção do formulário */
.form-section {
    background-image: url(img/imgform.jpg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 98%;

    margin: 40px auto;
    box-sizing: border-box;
    text-align: center;
}

.form-section h2 {
    font-size: 1.5em;
    margin-bottom: 1px;
    color: white;
}

.form-section h4{
    color: white;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    color: white;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #ffbf00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ecca62;
}


/* Estilizando a mensagem de confirmação */
.confirmation-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}       